<!-- Partial: header.ejs -->
<div>
    <h1 class="Title-Effects"> <a href="/"> TheSaturdayProjects </a></h1>
        <nav>
            <a href="/">Home</a>
            <a href="/Projects">Projects</a>
            <a href="https://github.com/vijayanathan23">Guess Who?</a>
        </nav>
<link rel="icon" type="image/x-icon" href="/favicon.ico">
</div>
