<!-- Partial: header.ejs -->
<div>
    <h1 class="Title-Effects"> <a href="/"> TheSaturdayProjects </a></h1>
    <nav>
        <a href="/">Home</a>
        <a href="/blogs">Blogs</a>
        <a href="https://www.linkedin.com/in/vijayanathan/">Guess Who?</a>
    </nav>
</div>